.events {
  display: flex;
  flex-direction: row;
  gap: 20px;
  .card {
    position: relative;
    h2 {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      font-size: 38px;
      color: white;
      text-transform: uppercase;
      text-shadow: 1px 1px 20px black;
    }
  }
}
